aiofiles~=0.8.0
fuzzyfinder~=2.1.0
httpx~=0.23.0
jieba
nonebot-adapter-onebot
nonebot2
tencentcloud-sdk-python>=3.0.580
setuptools~=64.0.3
jinja2
pyppeteer~=1.0.2
imageio~=2.21.1
numpy~=1.23.2
nonebot-plugin-apscheduler>=0.1.2
nonebot-plugin-htmlrender>=0.0.4.6
beautifulsoup4>=4.10.0
httpx>=0.23.0
lxml>=4.8.0
Pillow>=9.1.1
matplotlib>=3.5.1
xlsxwriter>=3.0.3
sqlitedict>=2.0.0
aiofiles>=0.8.0
littlepaimon_utils>=1.0.2
requests
pydantic~=1.9.2
tencentcloud-sdk-python